.container{

    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    flex-wrap: wrap;
    

}


.content {
    background-color: red;
    display: flex;
     flex-wrap: wrap;
    border-radius: 20px ;
    height: 500px;
    flex-direction: column;
    justify-content: space-around;

}


.chidle {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.lable {
    width: 80px;

}

.input {
    position: relative;
    left: 2%;
    width: 400px;
    padding-left: 5px;
    border-radius: 10px;
    outline: 1px solid blue;
}